.info-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ff4e50;
    padding: 20px;
    border-radius: 0px 20px 0px 20px;
    display: inline-flex;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0 2px 10px rgba(255,78,80, 0.5);
    color: #fff;
    width: 300px;
    align-items: center;
    transition: 0.5s opacity;
}
.info-box::before {
    content: "\f05a";
    font-family: "FontAwesome";
    font-size: 2rem;
    margin-right: 20px;
}
.info-box.hide {
    opacity:0;
    pointer-events: none;
}